.mainForm {
    width: 1280px;
    height: 720px;
    margin: 0px;
    padding: 0px;
}

.bodyContainer {
    width: 1280px;
    height: 720px;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.headerPart {
    width: 1280px;
    height: 80px;
    background-image: url(Images/header.png);
    margin: 0px;
    padding: 0px;
}

.rapportPanel {
    width: 203px;
    height: 80px;
    margin: 0px;
    margin-left: 97px;
    padding: 0px;
    float: left;
    display: block;
    color: yellow;
    font-family: Roboto;
    font-size: 48px;
}

.rapportDiv {
    margin-top:10px;
}

.userPanel {
    width: 500px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    float: left;
    display: block;
    color: lightgray;
    font-size: 14px;
    text-align: right;
}

.userDiv {
    margin-top: 10px;
}

.labels {
    font-family:Tahoma;
}

.leftHeaderPanel {
    width: 480px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    float: left;
    display: block;
}

.supportPanel {
    width: 480px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    float: left;
    display: block;
    color: yellow;
    text-align:right;
    font-family: Roboto;
    font-size: 36px;
}

.anchorsPanel {
    width: 480px;
    height: 30px;
    margin: 0px;
    display: block;
    float: right;
    text-align: right;
    color: white;
    font-size: 14px;
}

.headerAnchors {
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-decoration:none;
}

.midBodyContainer {
    width: 1280px;
    height: 640px;
    background-image: url(Images/main-back.png);
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.leftPanel {
    width: 180px;
    height: 630px;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    font-family: Tahoma;
    font-size: 14px;
}

.mainMenu { 
    margin: 5px;
}

.tblRequestQueue {
    width: 150px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
    font-size: 14px;
}

.tblRequestQueue_tr {
    height: 20px;
}

.tblRequestQueue_tdl {
    width: 90px;
    height: 20px;
    padding-left:10px;
}

.tblRequestQueue_tdr {
    width: 50px;
    height: 20px;
    color:darkblue;
}

.mainPanel {
    width: 1100px;
    height: 640px;
    margin: 0px;
    padding: 0px;
    display: block;
    float: right;
}

.bottomPart {
    width: 1280px;
    height: 80px;
    background-image: url(Images/bottom.png);
    margin: 0px;
    padding: 0px;
}

.formRow
{
    height:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    margin:0px;
}

.formButtonRow
{
    height:30px;
    margin:0px;
    vertical-align:middle;
    text-align:center;
    padding-top:10px
}


.formItem
{
    height:20px;
    width:240px;
    padding:0px;
    margin:0px;
}

.formLabelShort
{
    float:left;
    height:20px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
    text-align:right;
}

.formValueShort
{
    float:left;
    height:20px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}

.formLabelMedium05
{
    text-align:right;
    vertical-align:middle;
    padding:0;
    padding-right:5px;
    height:30px;
    width:45px;
}

.formLabelMedium1 {
    text-align: right;
    vertical-align: middle;
    padding: 0;
    padding-right: 5px;
    height: 30px;
    width: 95px;
}

.formLabelMedium15
{
    text-align:right;
    vertical-align:middle;
    padding:0;
    padding-right:5px;
    height:30px;
    width:145px;
}

.formLabelMedium2
{
    text-align:right;
    vertical-align:middle;
    padding:0;
    padding-right:5px;
    height:30px;
    width:195px;
}

.formValueMedium05 
{
    text-align: left;
    height: 30px;
    width: 50px;
    padding: 0px;
}

.formValueMedium1
{
    text-align:left;
    height:30px;
    width:100px;
    padding:0px;
}

.formValueMedium15
{
    text-align:left;
    height:30px;
    width:150px;
    padding:0px;
}

.formValueMedium2
{
    text-align:left;
    height:30px;
    width:200px;
    padding:0px;
}

.formValueMedium25 {
    text-align: left;
    height: 30px;
    width: 250px;
    padding: 0px;
}

.formValueMedium3 {
    text-align: left;
    height: 30px;
    width: 300px;
    padding: 0px;
}

.toolBarLinkButton
{
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight:400;
    color:#242424;
    text-decoration: none; 
    vertical-align:middle;
}

.toolBar
{
    height:27px;
    border: 1px solid #A4ABB2;
    padding:0px;
    margin:0px;
    background-image:url(Images/toolbar_background.png);
    background-repeat:repeat-x;
}

.WinLikeBorder_Office2010Silver
{
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 12px;
    backface-visibility: hidden;
    transform: rotate3d(0, 0, 1, 0deg);
}

.WinLikeBorder_rwTable
{
    border: 0 none;
    padding: 0;
    height: 100%;
    table-layout: auto;
    width: 100%;
    visibility: visible;
}

.WinLikeBorder_rwTitleRow
{
}

.WinLikeBorder_rwTitleDiv {
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    display: block;
    float:left;
}

.WinLikeBorder_rwTitleRefreshIcon {
    background-image: url("/Images/Refresh.png");
    width: 16px;
    height: 16px;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    display: block;
    float: right;
}

.WinLikeBorder_rwTopLeft {
    background-image: url("/Images/PurpleWebControls.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
}

.WinLikeBorder_rwTopRight {
    background-image: url("/Images/PurpleWebControls.png");
    background-position: -8px 0;
    background-repeat: no-repeat;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
}

.WinLikeBorder_rwCorner
{
    width: 8px;
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.WinLikeBorder_rwTitlebar {
    color: #3B3B3B;
    background-position: 0 -31px;
    background-repeat: repeat-x;
    background-image: url("/Images/PurpleWebControls.png");
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color:white;
    font-family: Tahoma;
    font-weight: normal;
    font-size: 14px;
    height: 31px;
}

.WinLikeBorder_rwBodyLeft
{
    background-repeat: repeat-y;
    background-image: url("/Images/Borders.gif");
}

.WinLikeBorder_rwBodyRight 
{
    background-repeat: repeat-y;
    background-image: url("/Images/Borders.gif");
    background-position: -8px 0;
}

.WinLikeBorder_rwWindowContent 
{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100% !important;
}

.WinLikeBorder_rwFooterLeft
{
    background-image: url("/Images/WebControls.gif");
    background-position: 0 -62px;
    background-repeat: no-repeat;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
}

.WinLikeBorder_rwFooterRight
{
    background-image: url("/Images/WebControls.gif");
    background-position: -8px -62px;
    background-repeat: no-repeat;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
}

.WinLikeBorder_rwFooterCenter
{
    background-image: url("/Images/WebControls.gif");
    background-position: 0 -70px;
    background-repeat: repeat-x;
    font-size: 1px;
    height: 8px;
    line-height: 1px;
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.loginPageBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.loginMiddleBlock {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 60%;
    left: 43%;
    margin: -250px 0 0 -190px;
}

.loginHeaderPart {
    width: 500px;
    height: 80px;
    background-image: url(Images/header.png);
    background-position: left top;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    display:block;
    float:left;
}

.loginRapportPanel {
    width: 203px;
    height: 80px;
    margin: 0px;
    margin-left: 95px;
    padding: 0px;
    float: left;
    display: block;
    color: yellow;
    font-family: Roboto;
    font-size: 48px;
}

.loginRapportDiv {
    margin-top: 10px;
}

.loginBodyPart {
    width: 498px;
    height: 270px;
    margin: 0px;
    border: 0px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0px;
    display: block;
    float: left;
    font-family:Tahoma;
    font-size: 14px;
    vertical-align:middle;
}

.loginBodyItem {
    width: 498px;
    height: 30px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    float: left;
}

.loginBodyTextOrButton {
    width: 498px;
    height: 80px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    float: left;
}

.loginBodyEnterButton {
    width: 498px;
    height: 50px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    float: left;
}

.loginCaption {
    width: 458px;
    height: 22px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    float: left;
    text-align: left;
    font-size: 16px;
}

.loginText {
    width: 458px;
    height: 70px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    float: left;
    text-align: justify;
    font-size: 12px;
}

.loginItemCaption {
    width: 140px;
    height: 30px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: left;
    text-align: right;
}

.loginItemControl {
    width: 338px;
    height: 30px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: left;
    text-align: left;
}

.loginItemButton {
    width: 498px;
    height: 47px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    padding-top:3px;
    display: block;
    float: left;
    text-align:center;
}

.loginItemForgottenPassword {
    width:150px;
    height:30px;
    padding:0px;
    padding-left:30px;
}

.loginItemValidatorts {
    width: 438px;
    height: 50px;
    margin: 0px;
    border: 0px;
    padding: 5px 20px 5px 20px;
    display: block;
    float: left;
    overflow-y: auto;
    color:red;
}

.filterAndGrid_Table {
    width: 1074px;
    padding: 0px;
    margin: 0px;
}

.filterAndGrid_BufferTd {
    width: 1074px;
    height: 5px;
    padding: 0px;
    margin: 0px;
}

.griditem_ordinary {
    color: black;
    cursor: text;
}

.griditem_clickable {
    color: deepskyblue;
    text-decoration:none;
}

.formLabelMedium05WithBorder {
    text-align: right;
    vertical-align: middle;
    padding: 0;
    padding-right: 5px;
    height: 30px;
    width: 45px;
    border: 1px solid lightgray;
}

.formLabelMedium1WithBorder {
    text-align: right;
    vertical-align: middle;
    padding: 0;
    padding-right: 5px;
    height: 30px;
    width: 95px;
    border: 1px solid lightgray;
}

.formLabelMedium15WithBorder {
    text-align: right;
    vertical-align: middle;
    padding: 0;
    padding-right: 5px;
    height: 30px;
    width: 145px;
    border: 1px solid lightgray;
}

.formLabelMedium2WithBorder {
    text-align: right;
    vertical-align: middle;
    padding: 0;
    padding-right: 5px;
    height: 30px;
    width: 195px;
    border: 1px solid lightgray;
}

.formValueMedium05WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 50px;
    border: 1px solid lightgray;
}

.formValueMedium1WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 100px;
    border: 1px solid lightgray;
}

.formValueMedium15WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 150px;
    border: 1px solid lightgray;
}

.formValueMedium2WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 200px;
    border: 1px solid lightgray;
}

.formValueMedium25WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 250px;
    border: 1px solid lightgray;
}

.formValueMedium3WithBorder {
    padding: 0;
    padding-left: 5px;
    text-align: left;
    height: 30px;
    width: 300px;
    border: 1px solid lightgray;
}

